.input-container {
  display: flex;
  flex-direction: column;

  input {
    border: 1px solid #ccc;
    padding: 1rem;
    font-family: 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
      'Droid Sans', 'Helvetica Neue', sans-serif;

    &.input-error {
      border: 1px solid red;
    }
  }

  .error-message {
    color: red;
    font-size: 0.875rem;
    margin-top: 4px;
  }
}
