.container {
  background-color: #fdf5e5;

  @media (min-width: 900px) {
    display: flex;
  }
}

header {
  @media (min-width: 900px) {
    position: fixed;
    width: 50%;
  }

}

.imageBanner {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("ej.jpg");
  background-size: cover;
  background-position: center;
  gap: 1rem;
  img {
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    z-index: -1;
  }
  .buttonWrapper {
    margin-bottom: 12rem;
  }
}

.pagesContainer {
  padding-left: 2rem;
  padding-right: 2rem;
  @media (min-width: 900px) {
    margin-left: 50%;
  }
  @media (max-width: 600px) {
    padding-left: 0;
    padding-right: 0;
  }
}

.pageContent {
  display: flex;
  flex-direction: column;
  max-width: 36rem;
  padding: 1rem;
  .headingsContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }
}


